body {
  margin: 0px;
  animation: fade 1.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.allPort {
  margin: 0px;
  display: flex;
  width: 100%;
  width: 100%;
  justify-content: start;
  flex-direction: row;
}

.port_section {
  background-color: transparent;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10%;
}

.PORTFOLIO {
  background-color: transparent;
  width: 80px;
  height: 15px;
  padding: 10px;
  font-size: 13px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  border-radius: 2px;
}
h6 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.portBar {
  display: flex;
  flex-direction: row;
}

.portList li {
  list-style-type: none;
  font-size: 20%;
  width: 100%;
  cursor: pointer;
}

.cards {
  width: 100%;
  justify-items: center;
  justify-content: center;
}
.cards img {
  width: 90%;
  height: 50%;
}

.cards img:hover {
  transform: scale(0.9);
  transition-duration: 1s;
}
.deeper {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  margin-left: 20px;
}

.deeper a {
  width: 40%;
  height: 50%;
}

.deeper img {
  border-radius: 10px;
  margin-top: 8%;
}

.portBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 56%;
  justify-content: space-between;
  gap: 60%;
}

.portList {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-align: right;
  gap: 10%;
  font-size: 100px;
  cursor: pointer;
  color: grey;
}

.portList :hover {
  letter-spacing: 2px;
  transition-duration: 0.7s;
  color: black;
}

.portList a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(77, 77, 77);
  transition-duration: 0.5s;
}

.picModal {
  width: 100%;
  display: flex;
  align-items: center;
}
.modal1{
margin-top: 4%;

}

.picModal img {
  width: 70%;
}

.picModal div {
  margin-left: 33%;
}
 
